<h2>Enter the library password to access your files in {{library.name}}</h2>
<br/>
<form action="/libraries/{{library.rowid}}" method="POST">
    <label for="password">Password:</label>
    <input type="password" name="password"/>
    <input type="hidden" name="_csrf" value="{{./req.csrfToken}}"/>
    <input type="submit" value="Access library" />
</form>
