<h2>Password protected file</h2>
<br/>
<form action="/download/{{uploadId}}" method="POST">
    <label for="password">Password:</label>
    <input type="password" name="password"/>
    <input type="hidden" name="_csrf" value="{{./req.csrfToken}}"/>
    <input type="submit" value="Download file" />
</form>
